* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

#cafes {
  width: 100%;
  height: auto;
  margin: 10px 5px;
}

#ventas{
  width: 100%;
  height: auto;
  margin: 10px 5px;
}

#productos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 10px;
}

.crd {
  width: 45%;
  height: 60%;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  position: relative;
  background-image: url('../img/coffe.jpg');
  background-size: cover;
  background-position: center;
  
  padding: 10px;
  flex: 1 1 auto;
}

.black{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  border-radius: 10px
}


.card-overlay {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  width: 100%;
  z-index: 1000;
}

.card-overlay h4{
  font-weight: bold;
  font-size: 30px;
}

.card-overlay svg{
  font-size: 40px;
  margin-bottom: 10px;
}

.card p {
  color: rgb(51, 50, 50);
  background-color: rgba(217, 217, 217, 0.728);
  border-radius: 5px;
  padding: 0 5px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

.card p b {
  font-size: 17px;
}

.btnAgregar {
  height: 30px;
  width: 85%;
  font-size: 14px;
  padding: 0;
  font-weight: bold;
  background-color: #EE9322;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btnAgregar>svg{
  font-size: 15px;
  margin-bottom: 0;
  font-weight: bold;
}

.cont {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px 1fr 1fr;
  gap: 5px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header"
    "Productos Venta"
    "Productos Resumen";
}

.Productos { grid-area: Productos; }

.Venta { grid-area: Venta; }

.Resumen { grid-area: Resumen; }

.Header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: Header;
  height: 100px;
  width: 100%;
  margin: 20px 0;
  position: relative;
  flex-wrap: wrap;
}

.infoUser{
  position: absolute;
  top: 20px;
  right: 140px;
  background-color: #00402aa9;
  padding: 5px;
  border-radius: .25em;
  width: auto;
  color: white;
}

.btnCerrar{
  position: absolute;
  top: 20px;
  right: 0;
  width: auto;
}


.infoUser p{
  margin-bottom: 0;
}

.card-header{
  background-color: #00402a;
  color: white;
}

.logo{
  width: 180px;
  position: absolute;
  bottom: 0;
  margin: -10px 0;
}

@media (max-width: 767px) {
  .cont {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 450px 280px;
    gap: 5px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header"
      "Productos"
      "Venta"
      "Resumen";
  }

  .logo{
    width: 150px;
    position: absolute;
    bottom: 5px;
    margin: -10px 0;
  }

  .infoUser{
    font-size: 14px;
  }

  .btnCerrar{
    font-size: 13px;
  }

  .card-overlay h4{
    width: 100%;
    font-size: 15px;
  }
  
}
